@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.button-login {
    background: rgba(16, 231, 218, 0.70);
    box-shadow: 0px 3px 3px 0px rgba(255, 255, 255, 0.70),
                3px 0px 3px 0px rgba(255, 255, 255, 0.70);
    width: 100%;
    margin-top: 35px;
}

.button-login:hover {
    background: rgba(16, 231, 218, 0.5);
}

.button-register {
    font-weight: bold;
    border-radius: 1.625rem 0rem;
    background: rgba(16, 231, 218, 0.70);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-register:hover {
    background: rgba(16, 231, 218, 0.5);
}

.button {
    @apply py-2 rounded inline-flex items-center w-max select-none uppercase !important;
}

.button-return {
    @apply py-2 rounded inline-flex items-center w-max select-none uppercase !important;
}

.input-form-login {
    @apply block w-full border-0 py-3 p-3 text-gray-900 !important;
    background: rgba(255, 255, 255, 0.70)!important;
    opacity: 50%;
}

.input-form-register {
    @apply block w-full border-0 py-1 p-1 text-gray-900 !important;
    background: rgba(255, 255, 255, 0.70)!important;
    opacity: 50%;
}

.select-form-register{
    @apply block w-full border-0 py-1.5 p-3 text-gray-900 focus:ring-2 focus:ring-inset sm:text-sm !important;
    background: rgba(255, 255, 255, 0.70)!important;
    opacity: 50%;
}

.input-form {
    @apply block w-full border-0 py-2 p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 !important;
}

.select-form {
    @apply block w-full border-0 py-2 p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 !important;
}

.error-form {
    @apply text-project-error block -mb-6 text-right !important;
}

.icon-container-hover {
    position: relative;
    display: inline-block;
}

.popper-content {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    transform: translateX(-50%) translateY(-200%) scale(1);
    white-space: nowrap;
    z-index: 50;
}

.icon-container-hover:hover .popper-content {
    display: block;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: wait;
}